body {
  background-color: wheat;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

h1 {
  color: #34495e;
  text-align: center;
  background-color: yellow;
}

.form,
.greetings {
  display: none;
}
.showing {
  display: block;
}
.toDobox,
.js-form,
.js-clock,
.showing,
.js-toDoForm {
  text-align: center;
}
.js-clock {
  font-size: 50px;
  margin: 50px;
  margin-top: 150px;
  background-color: blueviolet;
  color: #08f;
  text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem #fff, 0 0 4rem #fff,
    0 0 6rem #fff, 0 0 8rem #fff, 0 0 10rem #fff;
}
li {
  text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem #fff, 0 0 4rem #fff,
    0 0 6rem #fff, 0 0 8rem #fff, 0 0 10rem #fff;
  list-style: none;
}
