td {
  text-align: center;
  background-color: aquamarine;
}
button {
  border: none;
  background-color: aquamarine;
}
button:hover {
  opacity: 0.5;
}
input {
  background-color: black;
  color: white;
}
